.fullWidth {
	width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

#title {
	text-align: left;
	background-color: blue;
	height: 100px;
	padding-top: 10px;
}

#title h1 {
	font-size: 30px;
}

#cicodecamp {
	height: 100px;
	background-color: red;
}

#pennapps {
	height: 100px;
	background-color: #33ccff;
}

#codeday {
	height: 100px;
	background-color: #ffcc66;
}

#localhackday {
	height: 100px;
	background-color: #cc6600;
}

#mhacks {
	height: 100px;
	background-color: #ff0066;
}

#calhacks {
	height: 100px;
	background-color: #ff9999;
}
#starbutton1 {
	float: right;
}

#starbutton2 {
	float: right;
}

#starbutton3 {
	float: right;
}

#starbutton4 {
	float: right;
}

#starbutton5 {
	float: right;
}

#starbutton6 {
	float: right;
}

